<h1>Message ID: <%= @message.id %></h1>

<p><strong>Content:</strong> <%= @message.body %></p>
<p><strong>User who sent it:</strong> 
  <%= @user.first_name %> <%= @user.last_name %> (ID: <%= @user.id %>)
</p>
<p><strong>Associated chat:</strong> Chat ID: <%= @chat.id %></p>

<%= link_to "Edit Message", edit_message_path(@message), style: "margin-right: 10px;" %>
<%= link_to "Back", messages_path %>
