
<h1>Message information</h1>

<p>ID: <%= @message.id %></p>
<p>Chat_id: <%= @message.chat_id %></p>
<p>User_id: <%= @message.user_id %></p>
<p>Body: <%= @message.body%></p>


<%= link_to 'Back', messages_path %>