
<h1>Personal information</h1>

<p>ID: <%= @user.id %></p>
<p>First_name: <%= @user.first_name %></p>
<p>Last_name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>

<%= link_to 'Back', users_path %>